.sap-body {
    background-image: url('/imgs/world-map.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 11rem;;
}

h1, h3 {
    color: white;
    text-shadow: black 3px 3px;
}

.glyphicon-globe {
    font-size: 11em;
}