.sap-body {
    background-image: url('/imgs/world-map.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 11rem;;
}

.sap-login h1, .sap-profile h1 {
    color: white;
    text-shadow: black 3px 3px;
}

.sap-browser {
    padding: 11px 33px;
    color: white;
    background: linear-gradient(black, #005E9E);
}

.sap-profile img {
    width: 222px;
}

.sap-profile table {
    background: rgba(0,0,0,0.5);
    color: white;
}

.glyphicon-globe {
    font-size: 11em;
}